/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/


$font-stack: 'Lato', sans-serif;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}



html { 
  background: url(../img/rain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;

}

header{
	display:inline;
	width:100%;
}

.logo-container{
	width:100%;
	display:flex;
	padding-top:20px;
}

.logo{
	width:150px;
	height:60px;
	justify-content:center;
	background-image: url(../img/Logolightblue.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin-left:100px;
	
}



body {
	

h1{
	color:#fff;
	font-size:5em;
	text-align:center;
	padding:20px;
	font-family:$font-stack;

}


.tagline{

	font-family: $font-stack;
	color:#fff;
	font-size: 1.5em;
	text-align:center;
}

.downloadbutton{
	display:flex;
	justify-content:center;
	padding-top:30px;

}

.download{
	background-color:#2EC4B6;
	border-radius:15px;
	height:47px;
	width:127px;
	justify-content:center;
	border-style:none; 
	border-color:none; 


}
	a{
		color:#fff;
		text-decoration: none;
		font-size: 1.5em;
	}


}

h2{
		color:#fff;
		font-size:1.2em;
		font-family:$font-stack;
		margin-top:20px; 
		// text-align:center;

	}



.sleep, .sleep2, .sleep3{

	width:14%;
	margin:30px;


	.sleep{
		margin-left:100px;
	}


	.sleepbetter{
		background-image: url(../img/sleep.png);
		background-repeat:no-repeat;
		height: 51px;
		
	}

	.stayasleep{
		background-image: url(../img/stayasleep.png);
		background-repeat:no-repeat;
		height: 59px;
	
	}

	.wakeup{
		background-image: url(../img/alarm.png);
		background-repeat:no-repeat;
		height: 72px;

	}


}

.icons{
		display: flex;
		align-items: baseline;
		justify-content: space-around;
		margin-top: 56px;

	}





