/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/


$font-stack: 'Lato', sans-serif;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}


// html{
// 	// background-color:#E0E3DA;
// 	background-image:url(..img/bacgkround.jpg);
// 	background-size:cover;
// 	// margin: 40px;
// 	width:100%;
// 	height:100%;

// }

html { 
  background: url(../img/rain.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;

}

header{
	display:inline;
	width:100%;
}

.logo-container{
	width:100%;
	display:flex;
	padding-top:20px;
}

.logo{
	width:150px;
	height:60px;
	justify-content:center;
	background-image: url(../img/Logolightblue.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin-left:100px;
	
}

// .logo{
// 	background-image:url('.img/Logolightblue.png');
// 	height:500px; 
// 	width:100%;

// }

body {
	

h1{
	color:#fff;
	font-size:5em;
	text-align:center;
	padding:20px;
	font-family:$font-stack;

}

.tagline{

	font-family: $font-stack;
	color:#fff;
	font-size: 1.5em;
	text-align:center;
}

}


// .content {
// 	position: relative;
// 	background: white;
// 	padding: 50px 30px 50px;
// 	font-family: sans-serif;
// 	width: 90%;
// 	max-width: 500px;
// 	margin: 140px auto;
// }



// 2. Content ================================= 

// .top-angle {
// 	position: absolute;
// 	left: -1%;
// 	top: -15px;
// 	width: 102%;
// 	height: 30px;
// 	background: #ccc;
// 	transform: rotate(-2.2deg);
// }
// .bottom-angle {
// 	position: absolute;
// 	left: -1%;
// 	bottom: -15px;
// 	width: 102%;
// 	height: 30px;
// 	background: #ccc;
// 	transform: rotate(1.5deg);
// }

// .logo {
// 	position: absolute;
// 	top: -10px;
// 	width: 60px;
// }

// h1 {
// 	font-weight: 700;
// 	font-size: 22pt;
// 	margin: 15px 0;
// }

// p {
// 	color: #777;
// 	// margin: 10px 0;
// 	line-height: 140%;
// }

// code {
// 	position: absolute;
// 	top: 20px;
// 	right: 20px;
// 	font-size: 0.8em;
// 	opacity: 0.1;
// }

